.player-card{
    display: flex;
    width: 350px;
    margin:10px;
    border-radius:5px;
    box-shadow: 5px 5px 10px black;
    background-color: lightgreen;
    color: black;
}

.player-card img{
    width:100px;
    height:100px;
    border-radius:50px;
    border: 5px solid white;
}
  
.player-pic{
    margin: auto 15px;
}

.player-info{
    line-height:8px;
    margin: 20px 0px 20px 20px;
}

.player-info button{
    cursor: pointer;
}

.player-info button:hover{
    background-color: black;
}