.App img{
  width:200px;
  height:200px;
  border-radius:100px;
  border: 2px solid orange;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
